/**
 * Neuralab Contact Form Styles
 * Version: 1.0.0
 */

.neuralab-contact-form {
    max-width: 600px;
}

.neuralab-cf-field {
    margin-top: 1rem;
}

.neuralab-cf-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.neuralab-cf-field .required {
    color: #d00;
}

/* Style taken from input[type="text"] from theme */
.neuralab-cf-select {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    line-height: 1;
    padding: 0.625em 0.4375em;
    width: 100%;
}

.neuralab-cf-select,
::picker(select) {
    appearance: base-select;
}

.neuralab-cf-select button{
    padding-inline: 0;
    background: inherit;
    color: inherit;
    border: inherit;
    border-radius: inherit;
    padding: inherit;
    font: inherit;
    line-height: normal !important;
    text-transform: inherit;
}

.neuralab-cf-select option::checkmark {
    display: none;
}

.neuralab-cf-select option:checked {
    background: #cdcdcd;
}

.neuralab-cf-checkbox {
    margin-block: 1rem;
}

.neuralab-cf-checkbox label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
}

.neuralab-cf-checkbox input[type="checkbox"] {
    margin: 0;
}

.neuralab-cf-message {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 2px;
}

.neuralab-cf-success {
    background: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.neuralab-cf-error {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

